/* FORMAT

item {
    size + positioning

    font properties

    colors
}

Each subsection is in alphabetical order */


body {
    height: 100%;
    margin: 0;
    width: 100%;

    text-align: center;

    background-color: #dbe2ef;
    color: #112d4e;
}

footer {
    padding: 2rem;

    text-align: center;

    background-color: #3f72af;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.5);
}

footer a {
    padding: 0.5rem 1rem;

    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;

    color: #112d4e;
}

footer a:hover {
    color: #f9f7f7;
}

nav {
    margin-bottom: 5rem;
    overflow: hidden;
    padding: 1rem;

    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: left;

    background-color: #3f72af;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

nav a {
    margin: 0.75rem 0;
    padding: 0.5rem 1rem;

    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    color: #112d4e;
}

nav a:hover {
    color: #f9f7f7;
}

.bio {
    margin: 1rem auto;
    width: 40%;

    font-family: "Rubik", sans-serif;
    line-height: 2;
    text-align: center;
}

.contactIcon {
    margin: 0.75rem 1.25rem 0 1.25rem;
    max-height: 15%;
    max-width: 15%;
}

.contactIcons {
    text-align: center;
}

.email {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;

    color: #f9f7f7;
}

.greeting {
    margin: 1rem;

    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-align: center;

    color: #112d4e;
}

.jobTitle {
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    
    color: #f9f7f7;
}

.navLeft {
    float: left;

    text-align: left;
}

.navRight {
    float: right;
}

.myName {
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    
    color: #112d4e;
}

.navLinks {
    list-style-type: none;
}

.navLinks li {
    float: left;
}

#contactInfo {
    border-radius: 10rem;
    margin: auto;
    padding: 0.5rem;
    width: 10%;

    text-align: center;

    background-color: #7cadd9;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
}

#copyright {
    display: block;
    margin: 1.5rem auto 0 auto;

    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    text-align: center;

    color: #f9f7f7;
}

#selfie {
    border-radius: 100%;
    display: block;
    margin: auto;
    max-width: 20rem;
    max-height: 20rem;
    width: 10%;
}