/* FORMAT

item {
    size + positioning

    font properties

    colors
}

Each subsection is in alphabetical order */


body {
    height: 100%;
    margin: 0;
    width: 100%;

    text-align: center;

    background-color: #dbe2ef;
    color: #112d4e;
}

footer {
    padding: 2rem;

    text-align: center;

    background-color: #3f72af;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.5);
}

html {
    scroll-behavior: smooth;
}

nav {
    margin-bottom: 5rem;
    overflow: hidden;
    padding: 1rem;

    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: left;

    background-color: #3f72af;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

.bodyText {
    margin: 1rem auto 2rem auto;
    width: 40%;

    font-family: "Rubik", sans-serif;
    line-height: 2;
    text-align: center;
}

.card {
    position: relative;
    height: 256px;
    width: 256px;
}

.card img {
    max-height: 256px;
    max-width: 256px;
}

.cardOverlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    font-family: "Roboto", sans-serif;

    background: rgba(0, 0, 0, 0.5);
    color: #f9f7f7;
    opacity: 0;
    transition: opacity 0.25s;
}

.cardOverlay:hover {
    opacity: 1;
}

.cardTechStack {
    margin: 0.25rem;
    text-align: left;
}

.contactIcon {
    margin: 0.75rem 1.25rem 0 1.25rem;
    max-height: 40px;
    max-width: 40px;
}

.contactIcon:hover {
    transform: scale(1.25);
    transition: 0.2s ease-out;
}

.contactIcons {
    text-align: center;
}

.contactInfo {
    border-radius: 10rem;
    margin: auto;
    padding: 0.6rem;
    width: 12.5%;

    text-align: center;

    background-color: #7cadd9;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
}

.email {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;

    color: #f9f7f7;
}

.email:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;

    font-weight: bold;

    color: #112d4e
}

.formSubmit {
    border: 2px solid #112d4e;
    border-radius: 10rem;
    margin: 0.25rem auto 3rem auto;
    padding: 0.6rem;
    height: 3.5rem;
    width: 6rem;

    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-decoration: none;

    background-color: #f9f7f7;
    color: #112d4e; 
}

.formSubmit:hover {
    background-color: #112d4e;
    color: #f9f7f7;
}

.formTextInput {
    border: 1px solid #112d4e;
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 25%;

    font-family: "Roboto", sans-serif;

    background-color: #f9f7f7;
    color: #112d4e;
}

.formTextInput:focus {
    outline: none;
    background-color: #7cadd9;
}

.formTextInput::placeholder {
    color: #112d4e;
    opacity: 1;
}

.galleryTable {
    margin: auto;
}

.galleryTable td {
    padding: 0;
}

.header {
    margin: 1rem;

    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-align: center;

    color: #112d4e;
}

.link {
    margin: 0.75rem 0;
    padding: 0.5rem 1rem;

    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    color: #112d4e;
}

.link:hover {
    color: #f9f7f7;
}

.logo {
    text-align: left;
}

.logo a {
    text-decoration: none;
}

.logoName {
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    
    color: #112d4e;
}

.logoJob {
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    
    color: #f9f7f7;
}

.navLeft {
    float: left;
}

.navRight {
    float: right;
}

.navLinks {
    list-style-type: none;
}

.navLinks li {
    float: left;
}

.roundLink {
    display: inline-block;
    margin: 0.5rem 0.3rem;
    border-radius: 10rem;
    padding: 0.6rem;
    width: 5rem;

    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-decoration: none;

    background-color: #f9f7f7;
    color: #112d4e;
}

.roundLink:hover {
    transform: scale(1.1);
    transition: 0.2s ease-out;

    background-color: #3f72af;
}

.selfie {
    border-radius: 100%;
    display: block;
    margin: auto;
    max-width: 20rem;
    max-height: 20rem;
    width: 10%;
}

#copyright {
    display: block;
    margin: 1.5rem auto 0 auto;

    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    text-align: center;

    color: #f9f7f7;
}

#resume {
    margin: 0.5rem auto auto auto;
    width: 80%;
}

#resume:hover {
    background-color: #3f72af;
}
